.bodyPopularPurchase{
    display: flex;
    border-bottom: 1px solid #d7d7d7;
}
.bodyPopularPurchase > div{
    width: 100%;
    display: flex;

}
.bodyPopularPurchase > div > b {
    margin-top: 12px;
    margin-bottom: 12px;
}
.bodyPopularPurchase > div  > div > b{
    margin-top: 12px;
    margin-bottom: 12px;
}
.bodyPopularPurchase > .fromHeader{
    border-bottom: 1px solid #d7d7d7;
    justify-content: space-between;
}