.from{
    display: flex;
    border-bottom: 1px solid #d7d7d7;
}
.from > div{
    width: 100%;
    display: flex;

}
.from > div > b{
    margin-top: 12px;
    margin-bottom: 12px;
}
.from > div  > div > b{
    margin-top: 12px;
    margin-bottom: 12px;
}
.from > .fromHeader{
    border-bottom: 1px solid #d7d7d7;
    justify-content: space-between;
}