.bodyPopularGoods{
    width: 100%;
    height: 450px;
}
.typeNew{
    margin-top: 50px;
    width: 100%;
    height: 33px;
    float: left;
    display: flex;
    margin-bottom: -2px;
    justify-content:space-between;
}
.typeNew > dd{
    margin-right: 1%;
    width: 24%;
    height: 31px;
}
.typeNew > dd > img {
    width: 100%;
    height: 100%;
}
.typeNew > .lastHand{
    margin-right: 0;
}

.PopularList{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    height: 380px;
    border: 1px solid #d7d7d7;
    background-color: #f7f7f7;
}
.purchaseList {
    display: block;
    width: 94%;
    height: 98%;
    margin-left: 3%;
    margin-top: 2%;
}
.purchaseList  > .from{
    display: block;
    width: 100%;
    height: 100%;
}
.purchaseList  > .from > .fromHeader{
    border-top: 2px solid #000;
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    justify-content: space-between;
}
.purchaseList  > .from > .fromHeader > b{
    margin-top: 12px;
    margin-bottom: 12px;
}
.purchaseList  > .from > .fromHeader > div > b{
    margin-top: 12px;
    margin-bottom: 12px;

}
.list {
    width: 24%;
    height: 30%;
}
.list > ul {
    padding-left: 20%;
    width: 80%;
}
.P_ListLi{
    margin-top: 25px;
    width: 100%;
    height: 155px;
}
.P_ListLi > dl > dt{
    border: 1px solid #d7d7d7;
    width: 100%;
    height: 30%;
}
.P_ListLi > dl > dd {
    margin-top: 5px;
}
.P_ListLi > dl > dt > img{
    width: 100%;
    height: 100%;
}
.P_ListLi > dl > div{
    width: 100%;
    margin-top: 5px;
    display: flex;
    float: left;
    color: #959595;
    justify-content:space-between;
}