.AppBody{
    width: 68%;
    margin-left: 16%;
    display: inline-block;
}
.AppBody > div {
    display: block;
}
.AppBody > .top{
    display: flex;
}
.AppBody > .content{
    width: 80%;
    height: 100%;
}
.AppBody > .right{
    width: 30%;
    height: 100%;
}