.AppBody{
    width: 1000px;
    margin-left: 20%;
    display: inline-block;
}
.AppBody > div {
    display: block;
}
.AppBody > .top{
    display: flex;
}
.AppBody > .content{
    width: 75%;
    height: 100%;
}
.AppBody > .right{
    width: 25%;
    height: 100%;
}