.App{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  align-items: center;
}
.div_header{
  height: 102px;
  float: left;
}
ul{
  list-style-type: none;
  padding-inline-start: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
dl{
  margin-block-start: 0;
  margin-block-end: 0;
}